@model mesqr.Models.Msq

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Msq</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Latitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Latitude)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Longitude)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Longitude)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MsqId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
